#cloud-config

apt:
  preserve_sources_list: false

  primary:
    - arches:
      - amd64
      uri: "http://mirror.0x.sg/ubuntu/"

  security:
    - arches:
      - amd64
      uri: "http://security.ubuntu.com/ubuntu"

  sources:
    kubernetes.list:
      source: "deb http://apt.kubernetes.io/ kubernetes-xenial main"
      keyid: 7F92E05B31093BEF5A3C2D38FEEA9169307EA071

packages:
 - apt-transport-https
 - jq
 - kubeadm
 - kubelet
 - containerd

package_update: true

package_upgrade: true

package_reboot_if_required: true

mount_default_fields: [ None, None, "auto", "defaults,nobootwait", "0", "2" ]

locale: en_SG.UTF-8
locale_configfile: /etc/default/locale

resize_rootfs: True

final_message: "The system is finally up, after $UPTIME seconds"

timezone: Asia/Singapore

ntp:
  enabled: true
manual_cache_clean: True

write_files:
- content: |
      overlay
      br_netfilter
      nf_conntrack
  owner: root:root
  path: /etc/modules-load.d/containerd.conf
  permissions: '0644'

- content: |
      options nf_conntrack hashsize=32768
  owner: root:root
  path: /etc/modprobe.d/containerd.conf
  permissions: '0644'

- content: |
      sysctl net.bridge.bridge-nf-call-iptables=1
      sysctl net.ipv4.ip_forward=1
      sysctl net.bridge.bridge-nf-call-ip6tables=1
  owner: root:root
  path: /etc/sysctl.d/99-kubernetes-cri.conf
  permissions: '0644'

runcmd:
 - apt-get -y purge nano
 - apt-get -y autoremove
 - modprobe br_netfilter
 - modprobe nf_conntrack
 - sysctl net.bridge.bridge-nf-call-iptables=1
 - sysctl net.ipv4.ip_forward=1
 - sysctl net.bridge.bridge-nf-call-ip6tables=1
 - kubeadm config images pull
